#root{
    height: 100vh;
    width: 100%;
}

body{
    background-color: rgb(16, 16, 17);
    font-family: 'Poppins';
    overflow-x: hidden;
}

* {
    
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }

  .footer h1:hover{
    color: rgb(226, 25, 10);
    cursor: default;
  }

  .footer h1{
    transition: 1sec;
  }
